{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Mantenedor de Productos{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert2/sweetalert2.min.css' %}">

    <script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'sweetalert2/sweetalert2.all.min.js' %}"></script>
</head>
<body style="overflow-y: auto;">
    <dialog id="modalResultado">
        <h2> <input type="text" id="estadoResultado_id" disabled="true" size="50"></h2>
        <p>  <input type="text" id="estadoResultadoMensaje_id" disabled="true" size="50"></p>
        <button onclick="closeModal()">Cerrar</button>
    </dialog>
    <div id="ct" class="container-fluid" style="width: 100%;" >
            <div>
                <div id="textoDiv">MANTENEDOR DE CLIENTES</div>
            </div>
         <table>
                <tr>
                    <td colspan="1">
                         <button id="botonGuardar" onclick="set_cliente('NUEVO')"  class="btn btn-outline-primary btn-lg" >
                            Guardar
                        </button>
                         <button id="botonModificar" onclick="set_cliente('MODIFICAION')"  class="btn btn-outline-warning btn-lg" style="display: none;">
                            Modificar
                        </button>
                         <button id="botonCancelar" onclick="set_cancelar()"  class="btn btn-outline-warning btn-lg" style="display: none;">
                            Canecelar
                        </button>
                        <button id="botonLimpiar" onclick="set_cancelar()"  class="btn btn-outline-primary btn-lg" >
                            Limpiar
                        </button>
                        <button id="botonSalir" onclick="salir()"  class="btn btn-outline-primary btn-lg" >
                            Salir
                        </button>
                    </td>

                </tr>

                 <tr>
                    <td colspan="2" >
                        <textarea id="warn_id" rows="1" cols="100" DISABLED style="display: none;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <fieldset class="border p-3">
                            <legend style="margin-bottom: 0;">Datos del Cliente</legend>
                            <table id="datosProducto" style="border-collapse: separate; border-spacing: 20px;">

                                 <tr>
                                    <td><label for="lista_areas">Seleccione Área</label></td>
                                    <td>
                                           <select id="lista_areas">
                                                <!-- Opciones cargadas dinámicamente -->
                                           </select>
                                    </td>
                                    <td><label for="nombre_cliente">* Nombre Cliente: </label></td>
                                    <td><input type="text" id="nombre_cliente" maxlength="50" size="30" class="form-control"></td>

                                    <td><label for="email_contacto">* Email: </label></td>
                                    <td><input type="text" id="email_contacto" maxlength="30" size="40" class="form-control"></td>

                                    <td><label for="Fono">* Fono: </label></td>
                                    <td><input type="text" id="fono_contacto" maxlength="30" size="27" class="form-control"></td>
                                </tr>

                            </table>
                        </fieldset>
                    </td>
                </tr>
         </table>
        <!-- huidden para el manejo de la categoria qu8e se asocia al producto que se esta creando-->
        <input type="hidden" id="categoria">
    </div>
        <p></p>
     <div id="ct" class="container-fluid" style="width: 100%;" >
            <div>
                <div id="textoDiv">Clientes Registrados - búsqueda : <input type="text" id="campoBusqueda" onkeyup="handleKeyPress(event)"></div>
            </div>

            <table id="items-table">
                <thead>
                    <tr>
                        <th data-width="70%">Nombre Cliente</th>
                        <th data-width="10%">Nombre Area</th>
                        <th data-width="10%">email</th>
                        <th data-width="10%">Fono</th>
                        <th data-width="10%">Modificar</th>
                        <th data-width="10%">Eliminar</th>
                    </tr>
                </thead>
                <!-- Filas con datos del menú -->
                <tbody>

                </tbody>
            </table>
     </div>
    <div id="agregar-elemento">
        <button id="inicioPagina" >&lt;&lt; </button>
        <button id="anteriorPagina">&lt;</button>
        <label for="totalPaginasr">Página :</label>
        <input type="text" id="numeroPagina" disabled="true" size="3">
        <label for="totalPaginasr">De :</label>
        <input type="text" id="PaginasTotales" disabled="true" size="3">
        <button id="siguientePagina">&gt;</button>
        <button id="ultimaPagina" >&gt;&gt;</button>
    </div>

    <script src="/static/js/ajax_mant_clientes.js"></script>

    <script>
         var paginaActual                   = 1;
         var totalPaginas                   = 0;
         var seleccionadoActual             = 0;
         var url_get_clientes             = "{% url 'get_clientes_area' %}";
         var filtroBusqueda                 = 'SINFILTROBUSQUEDA';
         $(document).ready(function () {
             getClientesArea(url_get_clientes,1,'inicio',filtroBusqueda , 'NORMAL');
             getAreas();
         });


    </script>

</body>
</html>
